.container-tarjeta-biblioteca{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 7px;
    padding: 7px;
    text-decoration: none;
}
.container-tarjeta-biblioteca:hover{
    background-color: rgba(51, 48, 48, 0.644);


}
.img-tarjeta-biblioteca{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}
.text-tarjeta-biblioteca{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}