.container-botonesEnlaces{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer;
}
.container-botonesEnlaces:hover{
    .icon-botonesEnlaces{
        color: white;
        transition: all .3s;

    }
    .text-botonesEnlaces{
        color: white;
        transition: all .3s;


    }
}
.icon-botonesEnlaces{
   color: rgb(185, 182, 182);
   cursor: pointer;
}
.text-botonesEnlaces {
    text-decoration: none;
    list-style: none;
    color: rgb(185, 182, 182);
    font-size: 20px;
}