.container-buttons-reproductor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
.container-buttons-reproductor:hover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container-boton{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DB954;
    position: absolute;
    border-radius: 30px;

    
   
}
.container-boton-off{
    display: none;
}
