.container__imagenArtista{
    position: relative;
}
.container__imagenArtista img{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    background-attachment: fixed;


}
.container__imagenArtista::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
}
.container__tarjetaAlbumArtista{
    background: linear-gradient(rgb(6, 0, 12) 60%, rgba(119, 0, 179, 0) 100%);
}
.layout__tarjetasArtistas__userArtista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.titulo__artista__sectionArtista{
    font-size: 50px;
    font-weight: 800;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo__artistaVerificado{
    font-size: 18px;
}
.container__titulo__imagenArtista{
    padding: 25px;
}
.container__tarjetaAlbumArtista__boton{
    height: 100px;
}

.container__tarjetasCancionesArtista{
    padding: 50px;
}
.container__titulo__imagenArtista{
    position: absolute;
    top: 30%;
    left: 5%;
}