
.container-tarjeta-cancion{
    width: 210px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(233, 220, 220, 0.027);
    cursor: pointer;
    transition: all .4s;
    border-radius: 8px;
    position: relative;
}
.container-tarjeta-cancion:hover{
    background-color: rgba(233, 220, 220, 0.11);

}
.container-imagen-tarjeta-cancion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-tarjeta-cancion{
    width: 190px;
    height: 190px;
    border-radius: 100px;
    padding: 5px;
}
.container-text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin-left: 20px;
    
}

.container-icono-play-cancion{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color:#1DB954 ;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 30px;
}


.container-icono-play-cancion:hover{
    transform: scale(1.05);
}
.icon-play-cancion{
    color: black;
}
.icon-play-cancion:hover{
    transform: scale(1.1);
}
.container-icono-play-cancion-off{
   display: none;
}