.TarjetaCancionArtista{
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 4px;
}
.TarjetaCancionArtista:hover{
    background-color: rgba(106, 99, 99, 0.222);
}
.tarjetaCancionArtista__logoTitulo{
    display: flex;
    gap: 20px;
    align-items: center;

}
.tarjetaCancionArtista__logoTitulo h1{
   color: white;
   font-size: 16px;
}
.tarjetaCancionArtista__imagen{
    width: 40px;
    height: 40px;
}
.tarjetaCancionArtista__tiempoHeart{
    display: flex;
    gap: 60px;
    align-items: center;
}
.tarjetaCancionArtista__tiempoHeart h1{
    color: white;
    font-size: 16px;
}
.button__reproductor{
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    
}