.container-categorias-biblioteca{
    background-color: rgba(233, 220, 220, 0.11);
    color: white;
    display: inline-block;
    padding: 6px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
}
.container-categorias-biblioteca:hover{
    background-color: rgba(233, 220, 220, 0.137);
}
.text-categorias-biblioteca{
    color: white;
    font-size: 15px;
    padding: 4px;
}