.container-biblioteca{
    width: 100%;
    height: 400px;
    background-color: blue;
    border-radius: 12px;
    background-color: rgb(20, 19, 19);
    display: flex;
    flex-direction: column;
}
.container-enlaces-biblioteca{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categorias {
    margin-left: 20px;
    display: flex;
    gap: 7px;
}
.enlace{
  margin-left: 15px;
}
.tarjetas{
    margin: 15px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.cointainer-enlaces-categorias{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.icon-search:hover{
    transform: scale(1.3);
}
.titulo__bibliteca{
    color: white;
    font-size: 25px;
}


/* Cambiar el color de la barra de desplazamiento */
.tarjetas::-webkit-scrollbar {
    width: 14px; /* Ancho de la barra de desplazamiento */
    background-color: #333; /* Color de fondo de la barra de desplazamiento */
}

/* Cambiar el color del riel de la barra de desplazamiento */
.tarjetas::-webkit-scrollbar-track {
    background-color: #181818; /* Color del riel de la barra de desplazamiento */
}

/* Cambiar el color del pulgar (la parte que se mueve) de la barra de desplazamiento */
.tarjetas::-webkit-scrollbar-thumb {
    background-color: #5d5a5a; /* Color del pulgar de la barra de desplazamiento */
}