.container__imagenArtista{
    height: 300px;
    background-image: url("https://res.cloudinary.com/dcf9eqqgt/image/upload/v1688410804/E-COMERCE%20CODER/can_ygbloi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
    background-attachment: fixed;

}
.container__imagenArtista::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
}
.container__tarjetaAlbumArtista{
    background: linear-gradient(rgb(19, 2, 36) 60%, rgba(119, 0, 179, 0) 100%);
}
.layout__tarjetasArtistas__userArtista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.titulo__artista__sectionArtista{
    font-size: 90px;
    font-weight: 800;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo__artistaVerificado{
    font-size: 18px;
}
.container__titulo__imagenArtista{
    padding: 25px;
}